body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div.input {
    /* border : 1px solid; */
    padding-bottom: 0.5em;
}

input[type='text'], input[type='button'], input[type='select'] {
    /* margin: 0.5em; */
    padding: 0.5em;
    /* border : 1px solid; */
}

.reg_numbers li {
    list-style: none;
    border : solid 0.1em;
    padding: 0.5em;
    width: 5em;
    text-align: center;
    background-color: yellow;
    border-radius: 0.5em;
    height: 1em;
}